<ion-view view-title="Galleries">
  <ion-content>
    <ion-list class="list-inset">
			<div ng-repeat="galleries in galleriesbox" ng-init="secIndex = $index">
				<ion-item class="item item-divider">Level {{$index + 1}}</ion-item>
				<ion-item class="item-thumbnail-left item-text-wrap" href="#/app/galleries/{{secIndex}}/{{$index}}" ng-repeat="gallery in galleries">
					<img src="{{gallery.img}}">
					<h2>{{gallery.name}}</h2>
				</ion-item>				
			</div>

    </ion-list>
  </ion-content>
</ion-view>
