<ion-view view-title="Galleries">
  <ion-content>
    <ion-list class="list-inset">
		<ion-item class="item item-divider">Level 1</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/app/galleries/1">
				<img src="img/general-wolf-big-one.jpg" alt="general-wolf-big-one.jpg">
				<h2>Sigmund Samuel Gallery of Canada</h2>
			</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/">
				<img src="img/rom2008_10320_2-two.jpg" alt="general-wolf-big-one.jpg">
				<h2>Daphne Cockwell Gallery of Canada: First Peoples</h2>
			</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/">
				<img src="img/rom2006_7147_2-two.jpg" alt="general-wolf-big-one.jpg">
				<h2>Gallery of Chinese Architecture</h2>
			</ion-item>
		<ion-item class="item item-divider">Level 2</ion-item>

			<ion-item class="item-thumbnail-left item-text-wrap" href="#/">
				<img src="img/rom2012_12913_10-two.jpg" alt="rom2012_12913_10-two.jpg">
				<h2>The Bat Cave</h2>
			</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/">
				<img src="img/birds-five.jpg" alt="rom2012_12913_10-two.jpg">
				<h2>Gallery of Birds</h2>
			</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/">Reed Gallery of the Age of Mammals</ion-item>
		<ion-item class="item item-divider">Level 3</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/"></ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/"></ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap"href="#/"></ion-item>
		<ion-item class="item item-divider">Level 4</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/"></ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/"></ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
