<ion-view view-title="Sigmund Samuel Gallery of Canada">
<ion-content>
<div class="list card">
	<div class="item item-button-right item-text-wrap">
		<h2><strong>{{showGallery.name}}</strong></h2>
		<button class="ng-class:{'button button-clear button-assertive': favor, 'button button-clear': !favor}" ng-init="favor=false" ng-click="favor=!favor"><i class="ion-star"></i></button>
	</div>
	
	<div class="item item-image">
		<img class="full-image" ng-src="{{showGallery.img}}" alt="general-wolf-big-one.jpg">
	</div>
	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#" ng-click="like = like + 1">
			<i class="icon ion-thumbsup"></i>
			Like
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-chatbox"></i>
			Comment
		</a>
		<a class="tab-item" href ng-click="share(showGallery.name ,showGallery.url)">
			<i class="icon ion-share"></i>
			Share
		</a>
		<a class="tab-item" href="#/app/navigation/{{showGallery.location.level}}/{{showGallery.location.lat}}/{{showGallery.location.lng}}">
			<i class="icon ion-navigate"></i>
			Location
		</a>
	</div>
	<div class="item">
		<p>
			<a href="#" class="subdued" ng-init="like=0">{{like}} Like</a>
			<a href="#" class="subdued">5 Comments</a>
		</p>
	</div>
	<div class="item item-body">
		{{showGallery.content}}
	</div>
</div>
</ion-content>
</ion-view>