<ion-view view-title="Sigmund Samuel Gallery of Canada">
<ion-content>
<div class="list card">
	<div class="item item-button-right">
	<h2><strong>Sigmund Samuel Gallery of Canada</strong></h2>
	<button class="ng-class:{'button button-clear button-assertive': favor, 'button button-clear': !favor}" ng-init="favor=false" ng-click="favor=!favor"><i class="ion-star"></i></button>
	</div>
	<div class="item item-body">

		<img class="full-image" src="img/general-wolf-big-one.jpg" alt="general-wolf-big-one.jpg">

		<p>
			Canada's heritage is one of diverse cultures and deep roots. Originally influenced by English, French and Aboriginal cultures, and more recently by a mosaic of international ethnicity, the essence of Canadian-ness and its changing emblems and symbols of identity play a key role in placing context around the collections in this growing gallery.
			Behold the world of early Canada told through the lens of the rich decorative and pictorial arts produced by the early settlers from France and Great Britain. Continue the story of Canada's cultural heritage with a growing contemporary collection reflecting the cultures of successive generations of immigrants. Furniture, historical artifacts, landscape paintings, portraits, religious artifacts and modern design help us understand where Canadians have come from, how they lived, the evolving nature of Canadian identity and Canadian-ness, and its ongoing contribution to the nation's cultural fabric.
		</p>
				<h3>About the Gallery</h3>
		<h4>What?</h4>
		<p>Approximately 560 artifacts present Canadian heritage, from the early years of European settlement to the present day, with emphasis on the early French and British cultural legacy.</p>
		<h4>Where?</h4>
		<p>
		Canada, west to the Pacific Ocean, north to the Arctic, east to the Atlantic, and south to the border with the United States.</p>
		<h4>When?</h4>
		<p>From 17th century AD to the present.</p>
	</div>
	<div class="item">

		<p>
			<a href="#" class="subdued" ng-init="like=0">{{like}} Like</a>
			<a href="#" class="subdued">5 Comments</a>
		</p>
	</div>
	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#" ng-click="like = like + 1">
			<i class="icon ion-thumbsup"></i>
			Like
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-chatbox"></i>
			Comment
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-share"></i>
			Share
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-navigate"></i>
			Navigate
		</a>
	</div>
</div>
</ion-content>
</ion-view>