<ion-view view-title="Home">
<ion-content>
<div class="home-container padding">
	<div class="list card">
		<div class="item">
		<img src="img/logo.png" alt="">
			<div class="home-slides">

				<img src="img/pompeii_carousel.png" alt="pompeii_carousel">
			</div>
		</div>
		<div class="item item-text-wrap">
			<p>
				Almost two thousand years ago, a volcano in southern Italy - Mount Vesuvius - erupted with tremendous force and little warning. Within 24 hours, the nearby Roman city of Pompeii was buried under a rain of hot ash and falling debris, lying undiscovered for over 1,600 years.
			</p>
		</div>
		<div class="item">
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/Uhb4IPxLH10" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>