<ion-view view-title="{{news.title}}">
<ion-content>
<div class="list card">
	<div class="item item-button-right item-text-wrap">
		<h2>{{news.title}}</h2>
		<button class="ng-class:{'button button-clear button-assertive': favor, 'button button-clear': !favor}" ng-init="favor=false" ng-click="favor=!favor"><i class="ion-star"></i></button>
	</div>
	
	<div class="item item-image">
		<img class="full-image" ng-src="{{news.img}}">
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#" ng-click="news.like = news.like + 1">
			<i class="icon ion-thumbsup"></i>
			Like
		</a>
		<a class="tab-item" href="#" ng-click="browser(news.url)">
			<i class="icon ion-chatbox"></i>
			Web
		</a>
		<a class="tab-item" href ng-click="share(news.title, news.url)">
			<i class="icon ion-share"></i>
			Share
		</a>
	</div>

	<div class="item">
		<p>
			<a href="#" class="subdued" ng-init="like=0">{{news.like}} Like</a>
		</p>
	</div>

	<div class="item item-text-wrap">
		<p>{{news.content}}</p>
	</div>

</div>
</ion-content>
</ion-view>