<ion-view view-title="News &amp; Events">
	<ion-content>
		<ion-list class="list-inset">
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/app/news/1">
				<img src="img/pompeii_carousel.png" alt="pompeii">
				<h2>POMPEII in the shadow of the volcano</h2><br/>
				<p class="item-note">Now open until January 3</p>
			</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/app/news/2">
				<img src="img/rsg_weekend_logo2_0.jpg" alt="readgo">
				<h2>Big Weekends: Ready, Set, Go!</h2>

			</ion-item>
			<ion-item class="item-thumbnail-left item-text-wrap" href="#/app/news/3">
				<img src="img/rom2015_14488_1.jpg" alt="dino">
				<h2>New Dino Discovered</h2>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>